body {
    font-family: sans-serif;
    background-color:  lightgrey;
    BORDER:2PX solid red;
    margin:auto;
    margin-top: 75px;
    padding:25px 25px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
head
{
    font-size:30px;
    color:red;
}
div
{
    background-color:powderblue;
    border:2px solid grey;
}
.id{
    font-size:17px;
    color:blue;
}